body {
  margin-top: 2em;
  font-family: "Raleway", sans-serif;
  background-image: url('https://img.myswitzerland.com/mys/n64493/images/buehne/untitled_10.jpg')
}

#title {
  text-transform: uppercase;
}

.jumbotron {
  text-align: center;
}

#image {
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}

.summary {
  text-align: left;
  margin: 2em 2em;
}

.album-image {
  height: 300px;
  width: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

}
  .col {
    padding-right: 0;
    padding-left: 0;
  }

hr.top {
  /* Shorthand that sets values of border-top-color, border-top-style, and border-top-width */
  border-top: 1px solid #9d9c9c;
  width: 6em;
}

hr.bottom {
  border-top: 1px solid #9d9c9c;
  width: 6em;
  /* To match blockquote's margin-bottom */
  margin-bottom: 5em;
}

blockquote {
  text-align: left;
  /* text-align: center (applied to .jumbotron) requires an element to be inline or contain text as direct child descendant to be functional. Since blockquote's text is inside block-level elements <p> and <footer>, setting it to display: inline-block is a workaround. Note also block is needed for top/bottom margins to appear */
  display: inline-block;
  font-family: Georgia, serif;
  font-style: italic;
  margin-top: 6em;
  margin-bottom: 5em;
  padding: 0.35em 2.5em;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote p {
  font-size: 1em !important;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 3em;
  /* Element with abolute positioning is positioned relative to nearest positioned ancestor */
  position: absolute;
  /* Offsets from edges of element's containing block, ancestor to which element is relatively positioned */
  left: -3px; /* Negative moves it left */
  top: -13px; /* Negative moves it toward top */
  color: #7a7a7a;
}

blockquote cite {
  color: #999;
  font-size: 14px;
  margin-top: 5px;
}

#tribute-info {
  /* text-align: center, applied to parent jumbotron class, only works on inline elements; applying this ensures ul is centered */
  display: inline-block;
  text-align: left;
  margin-bottom: 5em;
  list-style: none;
}

#footer{
  background-color: #e8ebee;
  width: 100%;
  height:50px;
}